import pytest
import software.python_bindings as tbots_cpp
from proto.message_translation.tbots_protobuf import create_world_state

@pytest.mark.parametrize(
    "friendly_robot_locations,enemy_robot_locations,ball_initial_position,ball_initial_velocity",
    [
        (
            [
                {% for robot in friendly_robots %}
                tbots_cpp.Point({{ robot.global_position.x_meters }}, {{ robot.global_position.y_meters }})
            ],
            [
                {% for robot in enemy_robots %}
                tbots_cpp.Point({{ robot.global_position.x_meters }}, {{ robot.global_position.y_meters }})
            ],
            tbots_cpp.Point({{ ball_pos.x }}, {{ case.ball_pos.y }})
            tbots_cpp.Vector({{ ball_vel.x }}, {{ case.ball_vel.y }}),
        ),
    ],
)
def {{ test_name }}(
    friendly_robot_locations,
    enemy_robot_locations,
    ball_initial_position,
    ball_initial_velocity,
    simulated_test_runner,
):
    simulated_test_runner.simulator_proto_unix_io.send_proto(
        WorldState,
        create_world_state(
            yellow_robot_locations=enemy_robot_locations,
            blue_robot_locations=friendly_robot_locations,
            ball_location=ball_initial_position,
            ball_velocity=ball_initial_velocity,
        ),
    )